


<h1> COMPASS AUTO OVERVIEW </h1>

<div class="overview">
  <div class = "summary">
    Total Gross Revenue:
    <br>
  <div class = "summary">
    Net Profit:
  </div>
    <br>
  <div class = "summary">
    Sales Tax Totals: <%= Quote.total_sales_tax %>

  </div>

</div>