<body style="background-color: black">
<div class="slideShow">
  <div class="showImg">
    <%= link_to image_tag("first.png", :alt => "epic picture one", style: 'height:100%;width:80%;') %>
  </div>
  <div>
    <%= link_to image_tag("second.png", :alt => "most epic picture", style: 'height:100%;width:80%') %>
  </div>
    <div>
    <%= link_to image_tag("third.png", :alt => "third epic picture", style: 'height:100%;width:80%') %>
    </div>
    <div class="lastImg">
    <%= link_to image_tag("fourth.png", :alt => "last epic picture", style: 'height:100%;width:80%') %>
    </div>

</div>
</body>