/*
*= require font-awesome
 */
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');
@import url('https://fonts.googleapis.com/css?family=Archivo+Black');
@import url(https://fonts.googleapis.com/css?family=Roboto);

body {

    text-align: center;
    font-family: roboto;
    overflow: auto;
    background: #dee2e1;
}
.nav {

    display: inline-block;
    background: whitesmoke;
    border-radius: 5px;
    border-top: 5px solid #035127;
    height: 50px;
    margin-top:8px;

}
.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav ul li {
    position: relative;
    display: inline-block;
    height: 50px;
    border-left: 1px solid rgba(43, 44, 39, 0.29);
    vertical-align: middle;
    float: left;

}
.nav ul li:first-child, .nav ul li:nth-child(2), .nav ul li:last-child {
    border-left: 0;
}
.nav ul li:nth-child(2) > a:before {
    z-index: 1;
    position: absolute;
    top: 0;
    left: -15px;
    content: '';
    width: 0;
    height: 0;
    display: block;
    border-right: 15px solid whitesmoke;
    border-top: 50px solid transparent;
}
.nav ul li:nth-last-child(2) a:after {
    position: absolute;
    z-index: 1;
    top: 0;
    right: -15px;
    content: '';
    width: 0;
    height: 0;
    display: block;
    border-left: 15px solid whitesmoke;
    border-bottom: 50px solid transparent;
}
.nav ul li:last-child a {
    background: #035127;
    padding: 1px 15px 0 20px;
    color: whitesmoke;
}
.nav ul li:last-child a:hover {
    background: #035127;
}

.nav ul li a {
    position: relative;
    display: block;
    padding: 0 15px;
    color: #434343;
    line-height: 50px;
    text-decoration: none;
    font-family: "Libre Franklin","Open Sans",Helvetica Neue,Helvetica,Arial,Roboto,sans-serif;
    font-weight: 800;
    letter-spacing: .1em;
    font-size: .9em;
}
.nav ul li a:hover {
    background: #e4dfdf;
}
.nav ul li a:hover:before {
    border-right: 15px solid #e4dfdf;
}
.nav ul li a:hover:after {
    border-left: 15px solid #e4dfdf;
}
.nav ul li a.logo {
    background: #035127;
    height: 39px;
    width: 200px;
    padding: 11px 19px 0px 5px;
    line-height: 1;
    vertical-align: middle;
}
.nav ul li a.logo i:hover {
    color: #035127;
}
.nav ul li a i {
    margin: 0 0 0 6px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: none;
    -webkit-box-shadow: 0 0 0px 1000px #eee inset;
    transition: background-color 5000s ease-in-out 0s;
}








.pane
{
    position: absolute;
    top: 150px;
    right: 0;
    left: 0;

    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 20px 0 60px 0;

    background: #fafafa;
    box-shadow: 0 0 15px #333;
}
.pane2
{
    margin-top: 50px;
    margin-bottom: 30px;
    right: 0;
    left: 0;

    width: 100%;
    max-width: 500px;

}
.wrapper
{
    max-width: 400px;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
}

#tb01 {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: auto;
    padding: 0;
    width: 700px;
    table-layout: fixed;
    margin-top: 20px;
    margin-bottom: 20px;
}
.car-photo
{
    width: 300px;
}

.show-car-photo
{
    width: 450px;
}

table {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: auto;
    padding: 0;
    width: 85%;
    table-layout: fixed;
    margin-top: 20px;
    margin-bottom: 20px;
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

table th,
table td {
    padding: .625em;
    text-align: center;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}
a:link,a:visited,a:active
{
    color: #786c6c;

}
@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    table td::before {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }

}


.footer {

    background: black;
    height: 100px;
    max-width: 100%;
    margin: auto;

}


.slideShow > div:not(.showImg) {
    display: none;
}


.showImg {
    display: block;

}


.button
{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


.button:hover {
    cursor: pointer;
}


[data-link] {
    cursor: pointer;
}



.column {
    float: left;
    width: 50%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

